<h1>{{title}}</h1>
{{data}}
<input type="email" id="iEmail" />
<input type="password" id="iPass" />
<a href="#" id="aSocket">Socket</a>
<a href="/login" id="aLogin">Login</a>
<br />
<a href="#" id="aLogout">LogOut</a>
<br />
<a href="#" id="link">CLick me</a>
