<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/Util.js"></script>
</head>
<body>
    <canvas id="cMain"></canvas>
    {{{body}}}
</body>
</html>
